<STYLE TYPE="text/css">
<!-- BODY 
{ 
  background-color: #ffCC00; 
  background-image: url(http://www.culbertson.info/blues/glenn/oitlogo.bmp);
  background-repeat:no-repeat;
  background-position: 0% 0%;
  padding-top: 1.5cm;
}

H1
{
  font-style:normal;
  font-size:x-large;
}

H2
{
  font-style:normal; 
  font-size:larger;
}

H3
{
  font-style:normal;
  font-size:large;
}
-->
</STYLE>