<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://tempuri.org/App.xsd">
	<appSettings>
		<add key="Car" value="Car_Classlibrary.Car.Car, Car" />
		<add key="Van" value="Car_Classlibrary.Van.Van, Van" />
		<add key="Truck" value="Car_Classlibrary.Truck.Truck, Truck" />
		<add key="Station_Wagon" value="Car_Classlibrary.Station_Wagon.Station_Wagon, Station_Wagon" />
		<add key="Plane" value="Car_Classlibrary.Plane.Plane, Plane" />
		<add key="Train" value="Car_Classlibrary.Train.Train, Train" />
	</appSettings>
</configuration>