// jaas.policy
// Policy file defining the permissions for the named Principal
grant codeBase "file:D:/JavaProjects/advjhtp1/src/-", 
   Principal com.sun.security.auth.NTUserPrincipal "santry" {

   permission java.io.FilePermission "D:/privilegedFile.txt", 
      "write";

   permission java.io.FilePermission "D:/privilegedFile.txt", 
      "read";
};
