<configuration>


    <!-- mark the web application to use Windows-based cookie authentication -->
    <system.web>
		<authentication mode="Windows" /> 
    </system.web>

    <!-- mark the web application to use Forms-based cookie authentication -->
    <!--
    <system.web>
       <authentication mode="Forms">              
          <forms name=".ASPXAUTH" loginUrl="LoginDemo.aspx" />
       </authentication>
    </system.web>
    -->
    
    <!-- Connection string to the Coho database for Forms-based authentication -->
    <appSettings>
        <add key="conStrCoho" value="data source=localhost; initial catalog=Coho; integrated security=true" />
    </appSettings>
    
    <!-- mark the SecurePageDemo pages as available only to authorized users -->
    <location path="SecurePageDemo1.aspx">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    
    <location path="SecurePageDemo2.aspx">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    
    <!--
    <location path="WinSecureService.asmx">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    -->

</configuration>
