<?xml version="1.0" encoding="utf-8" ?>
<configuration >
	<appSettings>
		<add key="Car" value="Car_ClassLibrary.Car, Cars" />
		<add key="Van" value="Car_ClassLibrary.Van, Cars" />
		<add key="Truck" value="Car_ClassLibrary.Truck, Cars" />
		<add key="Station_Wagon" value="Car_ClassLibrary.Station_Wagon, Cars" />
		<add key="Plane" value="Car_ClassLibrary.Plane, Cars" />
		<add key="Train" value="Car_ClassLibrary.Train, Cars" />
	</appSettings>
</configuration>