<?xml version="1.0" encoding="utf-8" ?>
<configuration >
	<appSettings>
		<add key="Car" value="Car_ClassLibrary.Car, Car" />
		<add key="Van" value="Car_ClassLibrary.Van, Car" />
		<add key="Truck" value="Car_ClassLibrary.Truck, Car" />
		<add key="Station_Wagon" value="Car_ClassLibrary.Station_Wagon, Car" />
		<add key="Plane" value="Car_ClassLibrary.Plane, Car" />
		<add key="Train" value="Car_ClassLibrary.Train, Car" />
	</appSettings>
</configuration>