<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nGallerySQLConnectionTesting.Properties.Settings.nGalleryConnectionString"
            connectionString="Data Source=HEDRON;Initial Catalog=nGallery;Persist Security Info=True;User ID=&quot;Matthew Klump&quot;;Password=$%^@!mjk_-@1842"
            providerName="System.Data.SqlClient" />
        <add name="nGallerySQLConnectionTesting.Properties.Settings.nGalleryConnectionString1"
            connectionString="Data Source=matthew.klump-pdx.com;Initial Catalog=nGallery;Persist Security Info=True;User ID=&quot;Matthew Klump&quot;;Password=$%^@!mjk_-@1842"
            providerName="System.Data.SqlClient" />
        <add name="nGallerySQLConnectionTesting.Properties.Settings.ngalleryConnectionString_local"
            connectionString="Data Source=(local);Initial Catalog=ngallery;Persist Security Info=True;User ID='Matthew Klump';Password=$%^@!mjk_-@1842"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>