<?xml version="1.0"?>
<Configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AlbumRewriting>ByName</AlbumRewriting>
  <CharacterSet>UTF-8</CharacterSet>
  <SiteTitle>Jill and Matthew's Photo Gallery</SiteTitle>
  <SiteSkin>ngalleryOrange</SiteSkin>
  <EnableComments>true</EnableComments>
  <EnableRatings>true</EnableRatings>
  <EnableExif>true</EnableExif>
  <EnableStats>true</EnableStats>
  <SitePassword />
  <DatastoreType>XML</DatastoreType>
  <ConnectionString>Data Source=localhost; Initial Catalog=nGallery; User ID=ngallery_app; Password=%$@%.!ngallery_</ConnectionString>
  <AdminUserName>admin</AdminUserName>
  <AdminPassword>m8j6k1m8</AdminPassword>
  <AdminFullName>The Administrator</AdminFullName>
  <AdminEmailAddress>matthew@klump-pdx.com</AdminEmailAddress>
  <SmtpServer>mail.klump-pdx.com</SmtpServer>
  <CommentType>Comment</CommentType>
  <AlbumListImageHeight>160</AlbumListImageHeight>
  <AlbumListImageWidth>140</AlbumListImageWidth>
  <AlbumListImageQuality>75</AlbumListImageQuality>
  <AlbumListRecordsPerPage>10</AlbumListRecordsPerPage>
  <AlbumListDescLength>150</AlbumListDescLength>
  <AlbumListPagingDisplayType>display</AlbumListPagingDisplayType>
  <OriginalPictureWatermark>false</OriginalPictureWatermark>
  <PictureListImageHeight>160</PictureListImageHeight>
  <PictureListImageWidth>140</PictureListImageWidth>
  <PictureListMaintainRatio>true</PictureListMaintainRatio>
  <PictureListImageQuality>75</PictureListImageQuality>
  <PictureDetailsImageHeight>450</PictureDetailsImageHeight>
  <PictureDetailsImageWidth>600</PictureDetailsImageWidth>
  <PictureDetailsMaintainRatio>true</PictureDetailsMaintainRatio>
  <PictureDetailsImageQuality>75</PictureDetailsImageQuality>
  <PictureDetailsWatermark>false</PictureDetailsWatermark>
  <PictureListRecordsPerPage>12</PictureListRecordsPerPage>
  <PictureListColumnsPerPage>4</PictureListColumnsPerPage>
  <PictureListPagingDisplayType>display</PictureListPagingDisplayType>
  <PictureMaxHeight>1200</PictureMaxHeight>
  <PictureMaxWidth>1600</PictureMaxWidth>
  <AdminDirectory>/nGallery/admin/</AdminDirectory>
  <DataDirectory>/nGallery/data/</DataDirectory>
  <TemplateDirectory>/nGallery/templates/</TemplateDirectory>
  <PhotosDirectory>/nGallery/photos/</PhotosDirectory>
  <CustomErrorPageEnabled>true</CustomErrorPageEnabled>
  <SlideShowDelay>10000</SlideShowDelay>
  <SlideShowImageHeight>336</SlideShowImageHeight>
  <SlideShowImageWidth>448</SlideShowImageWidth>
  <SlideShowImageQuality>75</SlideShowImageQuality>
  <SlideShowWatermark>false</SlideShowWatermark>
  <SummaryImageHeight>240</SummaryImageHeight>
  <SummaryImageWidth>320</SummaryImageWidth>
  <SummaryMaintainRatio>true</SummaryMaintainRatio>
  <SummaryImageQuality>75</SummaryImageQuality>
  <SummaryWatermark>false</SummaryWatermark>
  <WatermarkImage />
  <WatermarkText />
  <WatermarkType>WM_TEXT</WatermarkType>
  <WatermarkPosition>WM_BOTTOM_RIGHT</WatermarkPosition>
  <EXIFProperties>DateTime;ExposureTime;FNumber;ISOSpeedRatings;ApertureValue;FocalLength</EXIFProperties>
</Configuration>