vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|msiis
vti_usagebymonth:UX|12
vti_usagevisitsbyweek:UX|0
vti_timecreated:TR|02 May 2005 03:01:26 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagevisitsbymonth:UX|0
vti_usagelastupdated:TX|29 May 2005 06:59:59 -0000
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.2623
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_textindexood:IR|0
vti_usagevisitsbyday:UX|0
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_hassearchbot:BR|false
vti_dependenciesood:IR|0
vti_usagefirstdata:TX|02 May 2005 03:01:26 -0000
vti_usagebyweek:UX|12
vti_usagebyday:UX|0 10 2
vti_usagehitsbymonth:UX|12
vti_usagehitsbyweek:UX|12
vti_usagehitsbyday:UX|0 10 2
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ACIPAddresses vti_ServerCollab
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
