// authorized.policy
// Policy file that grants file write permission 
// only to file "authorized.txt"

grant {
   permission java.io.FilePermission
     "authorized.txt", "write";
};
